    [flake8]
    # 一行の最大文字数を120に設定。これはReactでいうところのPrettierのmax-widthみたいなもんだと思ってください。
    max-line-length = 120
    # 無視するエラーコードを設定。E203とかW503とかは、まあ、細かいスタイルのエラーなんで、一旦無視でOK。
    ignore = E203, W503
    # 絶対importを許可するパッケージを設定。これは、importするときに、プロジェクトのルートからのパスで書けるようにする設定。Reactでいうところのtsconfig.jsonのbaseUrlみたいなもんかな。
    absolute-import-packages = todo_project
    # 行末の空白を無視する設定。まあ、これはあってもなくてもいいんだけど、気になるならコメントアウト外してね。
    # ignore = W291, W293
    # インデントに関するエラーを無視する設定。これも、まあ、気になるならコメントアウト外してね。
    # ignore = E111, E114, E115, E116
